<mat-toolbar>
  <span>MENU</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/dashboard/link1">Clientes</a>
    <a mat-button routerLink="/dashboard/link2">Proveedores</a>
    <a mat-button routerLink="/dashboard/link3">Articulos</a>
    <a mat-button routerLink="/dashboard/link4">Familia</a>
    <a mat-button routerLink="/dashboard/link5">Fac.Gastos</a>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

