<mat-toolbar color="primary">
  <span>CLIENTES</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="openAddEditEmpForm()">
    ADD CLIENTE
  </button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput  placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row._id}} </td>
      </ng-container>

      <ng-container matColumnDef="Razon_Social">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Razon_Social </th>
        <td mat-cell *matCellDef="let row"> {{row.Razon_Social}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Persona_de_contacto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Persona_de_contacto </th>
        <td mat-cell *matCellDef="let row"> {{row.Persona_de_contacto}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
